.aboutme-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
  max-width: 1000px;
  text-align: center;
  font-size: 1.7rem;
}
.name{
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: -0.02em;
}